
body {
font-family: Georgia, 'Times New Roman', Times, serif;
line-height: 1.5;
margin: 0;


}


h1 {
    color:  rgb(89, 68, 68);
    text-align: center;
    font-size: 40px;
    font-style: italic;
    margin left: 5px;
    padding-top: 15px;
    margin-top: 0px;
   

}



h2 {
color:rgb(89, 68, 68);
text-align: center;
font-style: italic;
margin:0%;

}

a {
    color: rgb(89, 68, 68);
}

h3 {
    color: rgb(89, 68, 68);
    text-align: center;
    font-style: italic;
}


.profil {
text-align: center;
padding-left: 5%;
background-color: whitesmoke;
padding-top: 10px;

}

.predchozi-zamestnani {
    background-color: #FFFAF0;
    line-height: 1.5;
    
   
}
.detaily {
    background-color: whitesmoke;
    line-height: 1.1;
}


 .vzdelani {
    
    background-color: whitesmoke;
    line-height: 1.1 ;
}

.dovednosti {
    background-color: #FFFAF0;
    line-height: 1.5 ;
}



.konicky {
    background-color: #FFFAF0;
    line-height: 1.1 ;

}



.fotka {
    border-radius: 50%;
    width: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFAF0;
    margin: 20px;

  float: left;
}

.paticka {
    background-color: #FFFAF0;
text-align: center;

}


body {
    width: 60%;
border-style: solid;
border-color: rgb(89, 68, 68);
border-width: 1px;
margin-left: 20%;

}

.jazyky {

    text-align: right;
        padding-left: 380px;
}

.nadpis-jazyky {
    text-align: right;
        padding-left: 400px;
}

section {

    padding: 35px 5%;
    overflow: auto;
}


header {
    background-color: whitesmoke;
}


.sport {

    border-radius: 50%;
    width: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFAF0;
    margin: 50px;
    
}


.cooking {

    border-radius: 50%;
    width: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFAF0;
    margin: 40px;
   

}

.family {

    border-radius: 50%;
    width: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFAF0;
    margin: 40px;
    

}

.book {
    border-radius: 50%;
    width: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFAF0;
    margin: 40px;
   

}